*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        background-image: url("bg2.jpg");
        background-size: cover;
        height: 100vh;
        background-position: fixed;
        background-repeat: no-repeat;
        background-position: center;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(#203A43,#2C5364);
}

nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;

}
nav ul li{
    display: inline-block;
    list-style:none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px;
}
.main p{
    text-align: justify;
    padding-top: 300px;
    padding-left: 300px;
    padding-right: 300px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container{
    margin-left: 100px;
    padding-top: 200px;
    height: 450px;
    width: 430px;
    position: relative;
  }
.container .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: rgb(10, 9, 9);
    border: 2px dashed #12161a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .wrapper.active{
    border: none;
  }
  .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .wrapper .icon{
    font-size: 100px;
    color: #9658fe;
  }
  .wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
  }
  .wrapper #cancel-btn i{
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #9658fe;
    cursor: pointer;
    display: none;
  }
  .wrapper.active:hover #cancel-btn i{
    display: block;
  }
  .wrapper #cancel-btn i:hover{
    color: #e74c3c;
  }
  .wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: rgb(26, 23, 23);
    display: none;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  }
  .wrapper.active:hover .file-name{
    display: block;
  }
  .container #custom-btn{
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color:black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  }